{% extends 'base.html.twig' %}

{% block title %}Weather !{% endblock %}

{% block body %}

    {% if  error is empty %}
        <ul>
            <li>Diena: {{ weatherData.date }}</li>
            <li>Temperatūra dieną: {{ weatherData.dayTemp }}</li>
            <li>Temperatūra naktį: {{ weatherData.nightTemp }}</li>
            <li>Dangus: {{ weatherData.sky }}</li>
            <li>Provaideris: {{ weatherData.provider }}</li>
        </ul>
    {% else %}
        <h5>Klaida: {{ error }}</h5>
    {% endif %}

    <br>


{% endblock %}
